body {
  background: #DAE3E7;
}
.section-inner {
  padding: 30px;
  background-color: #fff;
}
.section {
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  width: 100%;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px
}

.item {
  margin-bottom: 30px;
}

.top-section {
  background: #f5f5f5;
}

.margin-fix {
  margin-top: .3rem;
}
.fa {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .header {
    text-align: center;
  }
}
